{% extends "layout.html" %} {% block content %}


<section class="page-title team_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Our Team</h1>
                    <p>Home &nbsp; > &nbsp; Our Team</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post" style="background-color:#FaFaFa; border-radius: 3px; border-width: thin;">
                    <div class="post-thumb">
                        <div class="spacer"> </div>
                        <a href="blog-single.html">
                            <img class="img-responsive team_img" src="{{ url_for('static', filename='images/company/gates.jpg') }}" alt="Founder">
                        </a>
                    </div>
                    <h3 class="post-title"><a href="#" class="team_title">Founder</a></h3>

                    <div class="post-content">
                        <p>
                            Mr. Jinendra Shah, the humble and experienced business entrepreneur is responsible for managing the company, formulating and executing long-term strategies, and interacting with clients, employees, investors and other stakeholders. He is an original decision-
                            and policy-makers, setting the tone for the company’s values, ethics, and culture. Mr. Shah exemplifies their commitment to helping its clients achieve high performance. He is a proven leader, with deep expertise in developing
                            strong client relationships, a passion for building outstanding client teams and a disciplined focus on operations and execution.
                        </p>
                        <a href="blog-single.html" class="btn btn-main">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="post" style="background-color:#FaFaFa; border-radius: 3px; border-width: thin;">
                    <div class="post-thumb">
                        <div class="spacer"> </div>
                        <a href="blog-single.html">
                            <img class="img-responsive team_img" src="{{ url_for('static', filename='images/company/vb.jpg') }}" alt="Team Member">
                        </a>
                    </div>
                    <h3 class="post-title"><a href="blog-single.html" class="team_title">Co-Founder</a></h3>


                    <div class="post-content">
                        <p>
                            Mr. Jinendra Shah, the humble and experienced business entrepreneur is responsible for managing the company, formulating and executing long-term strategies, and interacting with clients, employees, investors and other stakeholders. He is an original decision-
                            and policy-makers, setting the tone for the company’s values, ethics, and culture. Mr. Shah exemplifies their commitment to helping its clients achieve high performance. He is a proven leader, with deep expertise in developing
                            strong client relationships, a passion for building outstanding client teams and a disciplined focus on operations and execution.
                        </p>
                        <a href="blog-single.html" class="btn btn-main">Read More</a>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination post-pagination">
                    <li>
                        <a href="#">
                            << Prev </a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>

                    <li><a href="#">Next >> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}