{% extends "layout.html" %} {% block content %}


<section class="page-title bookkeeping_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>QuickBooks Bookkeeping Services</h1>
                    <p>Home &nbsp; > &nbsp; QuickBooks Bookkeeping Services</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Wrapper Start -->
<section class="about section" style="margin-top: -40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h3 class="mt-40" style="color: #D19705; font-size: 28px; font-family: Candara;">Get Outsource QuickBooks Bookkeeping Services:</h3>
                        <hr class="underlines">
                    </div>
                    <br/><br/>
                    <p>
                        We at MelaGolden provide you with a complete Bookkeeping solution on QuickBooks. Our QuickBooks online bookkeeping services are suitable for both small as well as medium-sized enterprises as it offers various facilities and is easily compatible with the
                        growing enterprise works and demands. Some of the everyday tasks provided by MAC QuickBooks Accounting Services are:
                    </p>
                </div>



            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ url_for('static', filename='images/services/qb_banner.jpg') }}" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->


        </div>

        <div class="block">
            <div class="section-title">
                <h3 class="mt-40" style="color: #D19705; font-size: 24px; font-family: Candara;">Our Quickbooks Bookkeeping Services Included with:</h3>
                <hr class="underlines">
            </div>
            <br/><br/><br/>
            <ul class="qb_services_list">
                <li><b>Bank Reconciliations</b> – Matching up bank balances with QuickBooks’s balance</li>
                <li><b>Accounts Payable</b> – Managing your creditors</li>
                <li><a class="list_links" href="{{ url_for('services.accounts_receivable_services') }}" target="_blank"><b>Accounts Receivable</b></a> – Managing your debtors</li>
                <li><b>Sales Tax Filing and Payments</b> – Calculation of sales tax liabilities and helps in paying taxes</li>
                <li>
                    <a class="list_links" href="{{ url_for('services.payroll_services') }}" target="_blank"><b>Payroll Services </b>
                    </a> – Filling up employee’s time sheets, and initiating the paychecks process
                </li>
                <li><b>Bookkeeping Reports</b> – Detailed reports for better decisions</li>
            </ul>
        </div>

        <div class="block">
            <div class="section-title">
                <h3 class="mt-40" style="color: #D19705; font-size: 24px; font-family: Candara;">
                    QuickBooks Online Bookkeeping Services for Multiple Industries:
                </h3>
                <hr class="underlines">
            </div>
            <br/><br/>
            <p>
                At MelaGolden, we recognize and understand your need for industry-specific facts and figures. This section therefore aims to assimilate all such reference materials, both technical and non-technical under one umbrella. Different heads of businesses have
                been categorized suitably thus giving every business-type ample coverage.
            </p>


            <div class="flex-container">
                <div class="col-md-7 col-sm-12">
                    <ul class="qb_services_list">
                        <li>
                            <a class="list_links" href="{{ url_for('industries.fashion') }}" target="_blank">
                                <b>Bookkeeping for the Fashion Industry</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.startups') }}" target="_blank">
                                <b>Bookkeeping for Startups</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.travel_agency') }}" target="_blank">
                                <b>Bookkeeping for Travel Agencies</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.cpa') }}" target="_blank">
                                <b>Bookkeeping for CPA</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.real_estate') }}" target="_blank">
                                <b>Bookkeeping for Real Estates</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.retail_store') }}" target="_blank">
                                <b>Bookkeeping for Retail Stores</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.restaurants') }}" target="_blank">
                                <b>Bookkeeping for Restaurants</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.manufacturing') }}" target="_blank">
                                <b>Bookkeeping for Manufacturing</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('industries.cpa') }}" target="_blank">
                                <b>Bookkeeping for Amazon Sellers</b>
                            </a>
                        </li>
                        <li>
                            <a class="list_links" href="{{ url_for('services.accounts_receivable_services') }}" target="_blank">
                                <b>Bookkeeping for Truckers</b>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5 col-sm-12">
                    <div class="block">
                        <img src="{{ url_for('static', filename='images/services/qb.jpg') }}" alt="Img">
                    </div>
                </div>

            </div>


            <div class="section-title">
                <h4 class="mt-40" style="color: #D19705; font-size: 20px; font-family: Candara;">
                    Best QuickBooks Bookkeeping Services by MelaGolden:
                </h4>
                <hr class="underlines">
            </div>
            <br/><br/>
            <p>
                At MelaGolden, we recognize and understand your need for industry-specific facts and figures. This section therefore aims to assimilate all such reference materials, both technical and non-technical under one umbrella. Different heads of businesses have
                been categorized suitably thus giving every business-type ample coverage.
            </p>



        </div>


    </div>
</section>


{% endblock %}