{% extends "layout.html" %} {% block content %}


<style>
    .item1 {
        grid-area: menu;
        align-items: center !important;
    }
    
    .item2 {
        grid-area: footer;
        text-align: left !important;
        font-size: 16px !important;
    }
    
    .item3 {
        grid-area: menu;
        align-items: center !important;
        text-align: left !important;
    }
    
    .grid-container {
        display: grid;
        grid-template-areas: 'menu footer footer footer footer footer';
        grid-template-columns: 30% auto;
        grid-gap: 10px;
    }
    
    .grid-container>div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
    
    .grid-container1 {
        margin-top: 20px;
        display: grid;
        grid-template-areas: 'menu footer footer footer footer footer';
        grid-template-columns: 70% 30%;
        grid-gap: 10px;
    }
    
    .grid-container1>div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
    
    .steps_img {
        width: fit-content;
        align: center;
    }
    
    hr.step_underlines {
        width: 4%;
        float: left;
        border-top: 3px double #8c8b8b;
    }
</style>

<section class="page-title how_it_works_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>How MelaGolden Works?</h1>
                    <p>Home &nbsp; > &nbsp; How it works</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pricing-table section bg-gray">
    <div class="container">

        <div class="issues_block">
            <p>
                <h2 class="issues_title">Some of the most persistent worries for clients while outsourcing their financial services include:</h2>
            </p>

            <ul class="issues_list">
                <li>Whether they have the right structure, resources, experience, ethics, and expertise to provide improved results?</li>
                <li>What is the work methodology tailed by the outsourcing company, and if they can expect better outcomes or not?</li>
                <li>MelaGold is one of the foremost outsourcing services providers of Online Accounting and Bookkeeping Services. We follow an efficient 6 stage outsourcing accounting process to make sure that our services are delivered right on time at most
                    competitive rates.
                </li>
            </ul>

            <p>
                <img class="img-responsive how_it_works_img" src="{{ url_for('static', filename='images/company/procedure.png') }}">
            </p>
        </div>

        <div class="row" style="width: 99.9%; margin: auto;">
            <div class="steps_div">
                <h2 class="steps_title" style="font-size: 20px;">Stage #1:</h2>
                <hr class="step_underlines">
            </div>
            <br/><br/>
            <div class="grid-container">
                <div class="item1">
                    <img class="img-responsive steps_img" src="{{ url_for('static', filename='images/steps/step1.png') }}">
                </div>
                <div class="item2">
                    <p>
                        <strong>Fill out the inquiry form:</strong> We have an easy to fill the form to allow us to get your details for faster and more easier communication. These include your name, business name (for businesses), contact details, nature
                        of the services you would outsource.
                    </p>
                    <p>
                        <strong>The client relations team calls or emails you:</strong>We have a team working around the clock, and we guarantee the fastest response after you contact us. Our representatives are highly experienced accountants and are
                        keen to listen to the client to understand their needs and provide the best solutions.
                    </p>
                </div>
            </div>

            <div class="steps_div">
                <h2 class="steps_title" style="font-size: 20px;">Stage #2:</h2>
                <hr class="step_underlines">
            </div>
            <br/>
            <div class="grid-container1">
                <div class="item3">
                    <p>
                        <strong>Understanding of requirements:</strong> We work diligently to understand your business and your business needs before suggesting a working plan. Our goal is to deliver custom accounting and bookkeeping solutions that suit
                        your business, and this is only possible if we listen to you.
                    </p>
                    <p>
                        <strong>Ballpark estimate (if possible):</strong> In most cases, our client’s representative will provide a rough estimate or approximation based on the services you need. We endeavor to provide a view that falls within the actual
                        range to help our clients start planning early.
                    </p>
                    <p>
                        <strong>Proposal (if required):</strong> Our team prepares and presents a comprehensive proposal for the project based on the client’s request. We include all details about the outsourced services, the costs, timeline, and everything
                        else the client needs.
                    </p>
                    <p>
                        <strong>Approval to go ahead:</strong> After submitting the proposal, our team will discuss it with the client, and if approved, it is all system go. We set out the rules of engagement from the beginning to facilitate better collaboration
                        between our team and your business.
                    </p>

                </div>

                <div class="item4">
                    <img class="img-responsive steps_img" src="{{ url_for('static', filename='images/steps/step2.png') }}">
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->
<section class="faq section-sm ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Here is some FAQ , for more please visit our <a href="{{ url_for('contact') }}">Contact Page</a></h2>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-6">
                <h4>Do I need to pay for upfront?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>Are volume discounts available?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>What level of support is included in my plan?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>Do I need to pay more for chat?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>What does basic SEO Pack means ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>How do refunds work ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>Do you support non-profits ?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
            <div class="col-md-6">
                <h4>Are volume discounts available?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sed dolor laboriosam laborum expedita quisquam, perferendis esse illo inventore voluptatibus.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}