{% extends "layout.html" %}
{% block content %}


  	

  		



  <section id="main-slider" class="main-slider carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item item-1 active">
				
				<img src="{{ url_for('static', filename="images/landing1.jpg") }}" alt="Online Accounting Services" style="width: 100%; max-height: 600px;">
					
				<div class="carousel-caption">
					<div class="slider-icon">
					<i class="fa fa-desktop"></i>
				</div><!-- /.slider-icon -->
				<h3 class="carousel-title">
					Online <span>Accounting</span> Services
				</h3>
				<a class="btn text-btn" href="#">Get a free quote</a>
			</div><!-- /.carousel-caption -->
		</div>

		<div class="item item-2">
			<img src="{{ url_for('static', filename="images/landing5.jpg") }}" alt="Quality Affordable Services" style="width: 100%; min-height: 600px;">

			<div class="carousel-caption">   
				<h3 class="carousel-title">Quality <span>Affordable</span>Services</h3>
				<a class="btn text-btn" href="#">Let's Start</a>
			</div><!-- /.carousel-caption -->
		</div>

	  	<div class="item item-2">
			<img src="{{ url_for('static', filename="images/landing3.jpg") }}" alt="Fast, Accurate &amp; Reliable Services" style="width: 100%; max-height: 600px;">

			<div class="carousel-caption">   
				<h3 class="carousel-title">Fast <span>Accurate </span>Reliable</h3>
				<a class="btn text-btn" href="#">Let's Start</a>
			</div><!-- /.carousel-caption -->


		</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
  <i class="fa fa-angle-left"></i>
</a>
<a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
  <i class="fa fa-angle-right"></i>
</a>

</section><!-- /#main-slider -->




<section id="about" class="about">
 <div class="container">
    <div class="about-area">
		<div class="title-area text-center">
			<h2 class="about-title" style="font-size: 24px;">About Us</h2>
			<p class="title-description">Phasellus ultrices nulla quis</p>
		</div><!-- /.title-area -->
  <div class="about-items">
		<div class="col-sm-4">
			<div class="item">
			<div class="item-top">
				<h3 class="item-title" style="font-size: 20px;">Company Profile:</h3>
			</div><!-- /.item-top -->
			<p class="item-description" style="font-size: 15px;">
				MelaGolden is known for the quality of its services. 
				We can provide outstanding accounting services to our clients only because of 
				our dedication to the principles of responsiveness and quality management.
				Getting a good bookkeeper is quite hard, simply because professional bookkeeper can do wonders for your business. 
			</p>
			<a class="btn" href="#">
				<span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
				More
			</a>
		</div><!-- /.item -->
 </div>
 <div class="col-sm-4">
   <div class="item">
    <div class="item-top">
     <h3 class="item-title" style="font-size: 20px;">Our Mission:</h3>
   </div><!-- /.item-top -->
   <p class="item-description" style="font-size: 15px;">
      Our mission is to help clients keep up financial practicality in the present while adopting a proactive strategy to accomplish future objectives. 
	  This requires open correspondence to achieve a comprehension of our clients’ needs via research and sound analysis.
	  We are devoted to meeting these objectives with elevated expectations...
   </p>
   <a class="btn" href="#">
     <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
     More
   </a>
 </div><!-- /.item -->
</div>

	<div class="col-sm-4">
		<div class="item">
			<div class="item-top">
				<h3 class="item-title" style="font-size: 20px;">Our Vision:</h3>
				
				</div><!-- /.item-top -->
				<p class="item-description" style="font-size: 15px;">
					Our dedication to diligent work has earned the regard of the business and financial group. 
					We trust this to be a direct derivative of our ability and responsiveness to our client base. Regardless of whether you are a present or planned client, rest guaranteed that people and businesses that pick our services get skillful and auspicious exhortation.
				</p>
				<a class="btn" href="#">
				<span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
				More
				</a>
			</div><!-- /.item -->		
		</div>
	</div><!-- /.about-items -->

</div><!-- /.about-area -->
</div><!-- /.container -->
</section><!-- /#about -->




<section id="portfolio" class="portfolio text-center">
 <div class="container">
  <div class="portfolio-area">
    <div class="portfolio-top">
      <h2 class="portfolio-title">Our Latest Works</h2>
      <p class="title-description">Vestibulum auctor dapibus nequ</p>
      <div class="slide-nav-container">
        <a class="slide-nav left slide-left post-prev" data-slide="post-prev"><i class="fa fa-angle-left"></i></a>
        <a class="slide-nav right slide-right post-next" data-slide="post-next"><i class="fa fa-angle-right"></i></a>
      </div>
    </div><!-- /.portfolio-top -->

    <div id="portfolio-slider" class="portfolio-slider owl-carousel owl-theme">
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename="images/portfolio/1.jpg") }}" alt="Portfolio Image">
        </div>
        <span class="item-title">HTML5 Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/2.jpg') }}" alt="Portfolio Image">    	
		</div>
        <span class="item-title">CSS3 Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/3.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">WordPress Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/4.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">Joomla Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/1.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">Drupal Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/2.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">Magento Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/3.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">Foundation Project</span>
      </div>
      <div class="item">
        <div class="item-image">
          <img src="{{ url_for('static', filename='images/portfolio/4.jpg') }}" alt="Portfolio Image">
        </div>
        <span class="item-title">Bootstrap Project</span>
      </div>
    </div>
  </div><!-- /.portfolio-area -->
</div><!-- /.container -->
</section><!-- /#portfolio -->




<section id="services" class="services">
  <div class="container">
    <div class="service-area">

     <div class="row">
      <div class="service-items">
        <div class="col-sm-6">
          <div class="item item-1">
            <div class="row">
              <div class="col-sm-6">
                	<div class="i-title">
					  	<strong>Tax Preparation</strong>
					</div>
					<p class="item-sub">
						Risus id mediou soimto usce pelle nitesqu it nunc sed egesta ante gravids peses. 
					</p><!-- /.item-sub -->
              </div>
              <div class="col-sm-6">
                <p class="item-description">
                  Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. 
                </p><!-- /.item-description -->
                <a class="btn" href="#">
                  <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
                  More
                </a>
              </div>
            </div><!-- /.row -->
          </div><!-- /.item -->

          <div class="item item-2">
            <div class="row">
              <div class="col-sm-6">
			  		<div class="i-title">
					  	<strong>Accounts Receivable</strong>
					</div>
					<p class="item-sub">
						Risus id mediou soimto usce pelle nitesqu it nunc sed egesta ante gravids peses. 
					</p><!-- /.item-sub -->
              </div>
              <div class="col-sm-6">
                <p class="item-description">
                  Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. 
                </p><!-- /.item-description -->
                <a class="btn" href="#">
                  <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
                  More
                </a>
              </div>
            </div><!-- /.row -->
          </div><!-- /.item -->
        </div>
        <div class="col-sm-6">
          <div class="service-accordion">
           	<div class="accordion">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									Payroll Services
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<span class="service-image"><img src="{{ url_for('static', filename='images/services/1.png') }}" alt="Service Image" class="service-image"></span>
								<span class="accordion-title">Lorem ipsum dolor sit amet</span>
								<p>
									consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Bookkeeping Services
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<span class="service-image"><img src="{{ url_for('static', filename='images/services/2.jpg') }}" alt="Service Image"></span>
								<p>
									consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								Accounting Services
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<span class="service-image"><img src="{{ url_for('static', filename='images/services/3.png') }}" alt="Service Image"></span>
								<span class="accordion-title">Lorem ipsum dolor sit amet</span>
								<p>
									consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id
								</p>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Software Migration
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<span class="service-image"><img src="{{ url_for('static', filename='images/services/4.png') }}" alt="Service Image"></span>
								<p>
									consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi Sed egestas, ante et vulputate volutpat is, gravida id
								</p>
							</div>
						</div>
					</div>
				</div>
          	</div><!-- /.accordion -->

        </div><!-- /.service-accordion -->
      </div>
    </div><!-- /.service-items -->
  </div><!-- /.row -->
</div><!-- /.service-area -->
</div><!-- /.container -->
</section><!-- /#services -->




<section id="latest-post" class="latest-post">
  <div class="container">
    <div class="post-area">
      <div class="post-area-top text-center">
        <h2 class="post-area-title">Latest Blog Post</h2>
        <p class="title-description">Vestibulum auctor dapibus nequ</p>
      </div><!-- /.post-area-top -->

      <div class="row">
        <div class="latest-posts">
          <div class="col-sm-6">
            <div class="item">
              <article class="post type-post">
                <div class="post-top">
                  <div class="post-thumbnail">
                    <img src="{{ url_for('static', filename='images/blog/1.jpg') }}" alt="post Image">
                  </div><!-- /.post-thumbnail -->  
                  <div class="post-meta">
                    <div class="entry-meta">
                      <span class="entry-date">
                        <time datetime="2015-01-15">15 Jan 2015</time>
                      </span>
                      <span class="author-name">
                        <a href="#">John Doe</a>
                      </span>
                      <span class="post-tags">
                        <ul class="tag-list">
                          <li><a href="#">web-design</a></li>
                          <li><a href="#">html5</a></li>
                          <li><a href="#">css3</a></li>
                        </ul>
                      </span>
                    </div><!-- /.entry-meta -->
                  </div><!-- /.post-meta -->
                </div><!-- /.post-top -->
                <div class="post-content">
                  <h2 class="entry-title"><a href="blog-single.html">Standard Blog post Title</a></h2>
                  <p class="entry-text">
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                  </p>
                  <a class="btn" href="#">
                    <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
                    Read More
                  </a>
                </div><!-- /.post-content -->
              </article>
            </div><!-- /.item -->
          </div>
          <div class="col-sm-6">
            <div class="item">
              <article class="post type-post">
                <div class="post-top">
                  <div class="post-thumbnail">
                   <img src="{{ url_for('static', filename='images/blog/2.jpg') }}" alt="post Image">
                 </div><!-- /.post-thumbnail -->  
                 <div class="post-meta">
                  <div class="entry-meta">
                    <span class="entry-date">
                      <time datetime="2015-01-15">15 Jan 2015</time>
                    </span>
                    <span class="author-name">
                      <a href="#">John Doe</a>
                    </span>
                    <span class="post-tags">
                      <ul class="tag-list">
                        <li><a href="#">web-design</a></li>
                        <li><a href="#">html5</a></li>
                        <li><a href="#">css3</a></li>
                      </ul>
                    </span>
                  </div><!-- /.entry-meta -->
                </div><!-- /.post-meta -->
              </div><!-- /.post-top -->
              <div class="post-content">
                <h2 class="entry-title"><a href="blog-single.html">Standard Blog post Title</a></h2>
                <p class="entry-text">
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                </p>
                <a class="btn" href="#">
                  <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
                  Read More
                </a>
              </div><!-- /.post-content -->
            </article>
          </div><!-- /.item -->
        </div>
      </div><!-- /.latest-posts -->
    </div><!-- /.row -->
  </div><!-- /.post-area -->
</div><!-- /.container -->
</section><!-- /#latest-post -->   




<!-- Subscribe Section -->
<section id="subscribe-section" class="subscribe-section text-center">
  <div class="container">
    <form class="news-letter" method="post">
      <p class="alert-success"></p>
      <p class="alert-warning"></p>

      <div class="subscribe-hide">
        <input class="form-control" type="email" id="subscribe-email" name="subscribe-email" placeholder="Email Address"  required>
        <button  type="submit" id="subscribe-submit" class="btn btn-md">Subscribe</button>
        <div class="subscribe-error"></div>
      </div><!-- /.subscribe-hide -->
      <div class="subscribe-message"></div>
    </form><!-- /.news-letter -->
  </div><!-- /.container -->
</section><!-- /#subscribe-section -->
<!-- Subscribe Section End --> 




<section id="contact" class="contact">
  <div class="contact-area">
    

    <div id="message-details" class="message-details">
      <div class="container">
        <form action="email.php" method="post" id="myForm" class="message-form">
          <div class="row">
            <div class="col-sm-6">
              <input id="author" class="form-control" name="author" type="text" value="" size="30" aria-required="true" placeholder="Name*" title="Name" required>
              <input id="email" class="form-control" name="email" type="email" value="" size="30" aria-required="true" placeholder="Email*" title="Email"  required>
              <input id="subject" class="form-control" name="subject" type="subject" value="" size="30" aria-required="true" placeholder="Subject*" title="Subject"  required>
            </div>
            <div class="col-sm-6">
              <textarea id="message" class="form-control" name="message" cols="45" rows="3" aria-required="true" placeholder="Message" title="Message"  required></textarea>
              <button name="submit" class="btn btn-lg full-width" type="submit" id="submit">Submit</button>
            </div>
          </div><!-- /.row -->
        </form><!-- /#commentform -->
      </div><!-- /.container -->
    </div><!-- /.message-details -->
  </div><!-- /.contact-area -->
</section><!-- /#contact -->




<footer>
  <div id="footer-top" class="footer-top">
    <div class="container">
      <div class="row">
        <div id="tweet" class="tweet text-left">
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
        </div><!-- /#tweet -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /#footer-top -->

  <div id="footer-bottom" class="footer-bottom text-center">
    <div class="container">
      <div id="copyright" class="copyright">
        &copy; <a href="#">MelaGolden</a>  2021 - Designed &amp; Developed by <a href="https://crimsoft-8c393.web.app/" target='_blank' >Crimsoft Inc.</a>
      </div><!-- /#copyright -->
    </div>
  </div><!-- /#footer-bottom -->
</footer>





{% endblock %}