{% extends "layout.html" %} {% block content %}



<section class="page-title quickbooks_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>QuickBooks Bookkeeping Services</h1>
                    <p>Home &nbsp; > &nbsp; QuickBooks Bookkeeping Services</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Wrapper Start -->
<section class="about section" style="margin-top: -40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h3 class="mt-40" style="color: #D19705; font-size: 28px; font-family: Candara;">Get Outsource QuickBooks Bookkeeping Services:</h3>
                        <hr class="underlines">
                    </div>
                    <br/><br/>
                    <p>
                        We at MyAccountsConsultant provide you with a complete Bookkeeping solution on QuickBooks. Our QuickBooks online bookkeeping services are suitable for both small as well as medium-sized enterprises as it offers various facilities and is easily compatible
                        with the growing enterprise works and demands. Some of the everyday tasks provided by MAC QuickBooks Accounting Services are:
                    </p>
                </div>



            </div>
            <!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="{{ url_for('static', filename='images/services/qb_banner.jpg') }}" alt="Img">
                </div>
            </div>
            <!-- .col-md-5 close -->


        </div>

        <div class="block">
            <div class="section-title">
                <h3 class="mt-40" style="color: #D19705; font-size: 24px; font-family: Candara;">Our Quickbooks Bookkeeping Services Included with:</h3>
                <hr class="underlines">
            </div>
            <br/><br/>
            <p>
                We at MyAccountsConsultant provide you with a complete Bookkeeping solution on QuickBooks. Our QuickBooks online bookkeeping services are suitable for both small as well as medium-sized enterprises as it offers various facilities and is easily compatible
                with the growing enterprise works and demands. Some of the everyday tasks provided by MAC QuickBooks Accounting Services are:
            </p>
        </div>

        <div class="block">
            <h3 class="mt-40" style="color: #D19705; font-size: 28px; font-family: Candara;">Affordable Quickbooks Accounting Services for Small Businesses:</h3>
            <hr class="underlines"> <br /><br />
            <p style=" font-family: Candara;">
                We work to understand the dynamics of your individual needs and requirements. We can provide you with information, which will help you understand your financial situation and in making better financial decisions. We ensure that your accounts are maintained
                as per international standards and at the same time compliant to local authorities. All your accounting needs are fullfilled at MAC and QuickBooks is the best software for business accounting.
            </p>
        </div>

        <div class="block">
            <div class="flex-container">
                <div>
                    <h4 class="mt-40" style="color: #D19705; font-size: 22px; font-family: Candara;">QuickBooks Accounting Services Included:</h4>
                    <hr class="underlines"> <br /><br />
                    <ul class="qb_services_list">
                        <li><a href="#">Bookkeeping Services</a></li>
                        <li>Monthly Financial Statements</li>
                        <li>Management Reports</li>
                        <li><a href="#">Payroll Processing</a></li>
                        <li>Business Activity Statements</li>
                        <li>Accounts Payable and Receivable</li>
                        <li>VAT Accounting</li>
                        <li>Cashflow management</li>
                        <li>Financial Budgeting & Forecasting</li>
                        <li>Preparing Tax Returns</li>
                    </ul>
                </div>
                <div>
                    <h4 class="mt-40" style="color: #D19705; font-size: 22px; font-family: Candara;">QuickBooks Accounting Services for Industry:</h4>
                    <hr class="underlines"> <br /><br />
                    <ul class="qb_services_list">
                        <li><a href="#">Fashion Store</a></li>
                        <li><a href="#">Startup Business</a></li>
                        <li><a href="#">CPA Firm</a></li>
                        <li><a href="#">Travel Agencies</a></li>
                        <li><a href="#">Real Estate Firms</a></li>
                        <li><a href="#">Retail Store</a></li>
                        <li><a href="#">Accounting Firm</a></li>
                        <li><a href="#">Manufacturing</a></li>
                        <li><a href="#">Amazon Seller</a></li>
                        <li><a href="#">Truckers</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>



<!-- Content Start -->
<section class="testimonial" style="margin-top: -150px;">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2 style="font-family: Candara !important;">Fun Facts About Us</h2>
                <p style="font-family: Candara !important;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, <br> there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
            </div>
        </div>
        <div class="row" style="font-family: Candara !important;">
            <div class="col-md-6">
                <div class="block">
                    <ul class="counter-box clearfix">
                        <li>
                            <div class="counter-item">
                                <i class="ion-ios-chatboxes-outline"></i>
                                <h4 class="counter">99</h4>
                                <span>Cups Of Coffee</span>
                            </div>
                        </li>
                        <li>
                            <div class="counter-item">
                                <i class="ion-ios-glasses-outline"></i>
                                <h4 class="counter">45</h4>
                                <span>Article Written</span>
                            </div>
                        </li>
                        <li>
                            <div class="counter-item">
                                <i class="ion-ios-compose-outline"></i>
                                <h4 class="counter">125</h4>
                                <span>Projects Completed</span>
                            </div>
                        </li>
                        <li>
                            <div class="counter-item">
                                <i class="ion-ios-timer-outline"></i>
                                <h4 class="counter">200</h4>
                                <span>Combined Projects</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="testimonial-carousel text-center">
                    <div class="testimonial-slider owl-carousel">
                        <div>
                            <i class="ion-quote"></i>
                            <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                            <div class="user">
                                <img src="{{ url_for('static', filename='images/item-img1.jpg') }}" alt="Pepole">
                                <p><span>Rose Ray</span> CEO</p>
                            </div>
                        </div>
                        <div>
                            <i class="ion-quote"></i>
                            <p style="font-family: Candara !important; font-style: italic;">"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                            <div class="user">
                                <img src="{{ url_for('static', filename='images/item-img1.jpg') }}" alt="Pepole">
                                <p><span>Rose Ray</span> CEO</p>
                            </div>
                        </div>
                        <div>
                            <i class="ion-quote"></i>
                            <p style="font-family: Candara !important; font-style: italic;">"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                            <div class="user">
                                <img src="{{ url_for('static', filename='images/item-img1.jpg') }}" alt="Pepole">
                                <p><span>Rose Ray</span> CEO</p>
                            </div>
                        </div>
                        <div>
                            <i class="ion-quote"></i>
                            <p style="font-style: italic;">"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                            <div class="user">
                                <img src="{{ url_for('static', filename='images/item-img1.jpg') }}" alt="Pepole">
                                <p><span>Rose Ray</span> CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}